@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.text-justify{
    text-align: justify;
}

.nav-item{
    padding-left: 10px;
    padding-right: 10px;
}

#Header{
    background-image: url('../img/background-header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#Donate{
    background-image: url('../img/background-donate.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-transparant{
    background-color: rgba(0, 0, 0, 0.7);
}



#Protect .card-img{
    max-height: 600px;
    background-size: cover;
    border-radius: 20px;
    transition: 0.2s;
}

#Protect .card-img:hover{
    transform: scale(1.05);
}

#Donate .card{
    border-radius: 20px;
}

#Donate .list-group-item{
    border-radius: 20px;
}

#Donate .card-img-top{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}


#Register{
    background-image: url('../img/background-register.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#Register .round{
    border-radius: 20px;
}

#Register .text-small{
    font-size: 14px;
}


#Dashboard .card-img{
    max-height: 600px;
    background-size: cover;
    border-radius: 20px;
    transition: 0.2s;
}

#Dashboard .bg-transparant{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

#Profile .profile-img{
    max-width: 500px;
}

.bg-admin{
    background-color: #3C6255;
}

.icon-none{
    font-size: 200px;
}
